/* styles.css */
h1.available-platforms {
    margin-left: 5px;
    margin-top: 5px;
}

.platform-container {
    background-color: #9bd59b;
    border: 1px solid black;
    border-radius: 10px;
    height: 140px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-feature {
    background-color: #9bbbd5;
    border: 1px solid black;
    border-radius: 10px;
    height: 140px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-device {
    background-color: #d5cb9b;
    border: 1px solid black;
    border-radius: 10px;
    height: 140px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-font {
    font-size: 70%;
    font-weight: bold;
    position: relative;
    color: #343232;
    bottom: -19px;
}

/* Stile generale per il contenitore */
.library-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Stile per lo stato (grassetto) */
.platform-container span {
    font-weight: bold;
    vertical-align: middle;
}

/* Stile per lo status "Online" */
.online-dot {
    width: 12px;
    height: 10px;
    border-radius: 50%;
    background-color: #30ff02;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid black;
}

/* Stile per lo status "Offline" */
.offline-dot {
    width: 12px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    border: 1px solid black;
}
