@keyframes blink {
    0% {
      background-color: var(--lumo-success-color-10pct);
      opacity: 1;
    }
    50% {
      background-color: var(--lumo-success-color-20pct); /* Cambia leggermente il colore per l'effetto lampeggiante */
      opacity: 0.7; /* Cambia l'opacità per l'effetto lampeggiante */
    }
    100% {
      background-color: var(--lumo-success-color-10pct);
      opacity: 1;
    }
  }
  
  .badge {
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
  }
  
  .button:disabled,
  .button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  .deployed {
    background-color: var(--lumo-success-color-10pct);
    color: var(--lumo-success-text-color);
    animation: blink 1.5s infinite; /* Aggiungi l'animazione al badge "deployed" */
  }
  
  .not-deployed {
    background-color: var(--lumo-error-color-10pct);
    color: var(--lumo-error-text-color);
  }
  
  .badge svg {
    margin-right: 5px;
  }

  .headerStyle {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Stile per le righe della tabella */
.rowStyle {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

/* Stile per le celle della tabella */
.cellStyle {
    padding: 10px;
    margin-left: 300px;
    text-align: left;
}

.process-info-table {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
  color: #333;
}

.process-info-table th,
.process-info-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.process-info-table th {
  background-color: #f0fcff;
  font-weight: bold;
}

.process-info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.process-info-table tr:hover {
  background-color: #f1f1f1;
}

.process-info-table caption {
  caption-side: top;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}